@media(max-width:1024px){
  .header{
    padding: 2px 10px;
  }
 
.logoDiv{
	font-size:2vw;
	padding:0.8vw 1vw;
}

.userImg{
	width: 50px;
}
.userImg i{
  font-size: 2.5vw;
}

.navList li{
	height: 6vw;
	display: inline-block;
}

.navList li a{
  font-size: 1.8vw;
}

.mainDiv {
  margin-top: 8.5vw;
}
 .TaglineDIV{
     top: 50%;
 } 
  .TaglineDIV h1{
    font-size: 5vw;
  } 
  .TaglineDIV button{
    font-size: 3vw;
    padding: 1.5vw  5vw;
    white-space: nowrap;
  }  
  .TaglineDIV h2{
    font-size: 5vw;
  }


  .openYourAc{
    flex-direction: row;
    display: flex;
    margin-top: 2vw;
  }

  .openYourAc h1{
    font-size: 6vw;

  }
  .openYourAc h2{
    font-size: 6vw;
    margin-left: 2vw;
  }

  .premiumCard {
    height: 15vw;
    width: 15vw;
  }

.leftpart h1,
.rightPart h1 {
  font-size: 2vw;
}
.leftpart ul,
.rightPart ul {
  line-height: 3vw;
}

.leftpart a,
.rightPart a {
  color: green;
  list-style: none;
  font-size: 1.5vw;
}

/* login page   */

.loginMainConainer{
	height:fit-content;
	margin-top:0;
  padding-top: 10vw;
  border: 1px solid green;
}
.lgpageImgDiv{
	height:90vh;
}


.OuterCardDiv{
	width:30vw;
}

.OuterCardDiv h1{
	font-size:2vw;
}

.loginWithThirdPartyDiv{
	height:3.5vw;
}

.logInTextDiv, .loginIconDiv{
	height:3.5vw;

}


.logInTextDiv a{
	font-size:1.6vw;
}


.loginIconDiv{
	width:15%;
}

.loginIconDiv i{
	font-size:1.8vw;
}


.IdPassLoginDiv h2{
   font-size:1.8vw;

}
.passwordInput{
  height:3.5vw;
  padding: 0;
}
.passwordInput input{
  height: 100%;
}
.eyeIconDiv{
	width:3vw;
	height:100%;
}
.eyeIconDiv i{
	font-size:1.8vw;
}
.Consent_ForgotPasswordDiv label{
  text-align: center;
	font-size:1.2vw;
}
.captureCodeDiv{
  padding:1vw 0;
}
.captureDiv{
	height:3.5vw;
	width:60%;
}
.refreshDiv{
	height:3vw;
}


.profileSignDiv{
	top:8.5vw;
	width:25vw;
	background-color:rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
}

.profileSignDiv i{
	font-size: 3vw;
	padding-left: 2vw;
}

.profileImgSignInDiv{
	height:10vw;
	width:10vw;
}

.details h4{
	font-size:2vw;
  margin-top: 1vw;
}

.profileSignDiv button{
	height:3.5vw;
	font-size:1.8vw;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.details button{
	font-size:1.8vw;
}



/*  forget password ...... ...... 1024px  max width  */

.forgetPasswordOuter{
	width:30vw;
}

.forgetPasswordOuter button{
	height: 3.5vw;
}


.forgetPasswodDetails , .resetpassDiv{
	padding:2vw;
}
.resetpassDiv input{
	margin-top: 2vw;
  height: 3.5vw;
}

.form1{
	width:100%;
}

.forgetPasswodDetails h1, .resetpassDiv h1{
	font-size:2vw;
}

.forgetPasswodDetails input{
	height:4vw;
	width:100%;
}

.resetpassDiv form button{
	margin-top: 1vw;
}



}
/*   max width 768px  ................................................................................ */

@media(max-width:768px){

  .nestedContainer{
    flex-direction: column;
    
  }

  .nestedContainer .left{
    width: 100%;
    height: 250px;
  }

  .nestedContainer .right{
    width: 100%;
    height: 450px;
  }


  .header{
    height: 15vw;
  }
  .logoDiv{
    font-size: 5vw;
    padding:1vw  4vw;
  }
  .listOpener{
    display: flex;
    padding: 5px;
  }

   .TaglineDIV{
     top: 40%;
  } 

  .TaglineDIV h1{
    font-size: 10vw;
    white-space: nowrap;
  } 
  .TaglineDIV button{
    font-size: 4vw;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    padding: 3vw  5vw;
  }  
  .TaglineDIV h2{
    font-size: 10vw;
  }
  .navList{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: fixed;
    top: 100px;
    right: -100%;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.215);
    backdrop-filter: blur(10px);
    min-height: 100vh;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 2px solid rgb(255,255,255);
    transition: all 1s;
 }

 .navList ul{
   flex-direction: column;
   height: fit-content;
   justify-content: space-between;
   gap: 40px;
   align-items: start;
   margin-top: 25px;
 }

 .navList ul li{
   font-size: 5vw;
 }
 .navList ul li a{
   color: rgb(255,255,255);
  font-weight: 500;
  font-size: 5vw;
 }

 .userImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 30px;
    margin-left: 50px;
    margin-top: 5vw;
  }

  .profileImg i{
    font-size:15vw;
    color: rgb(255,255,255);
    text-shadow: 0 0 10px rgb(0,0,0);
  }

   .logoutListItem {
      display: block;
      margin-left: 25px;
      background-color:transparent;
      border: 2px solid rgb(255,255,255);
      margin-top: 50px;
      font-size: 8vw;
      font-weight: 700;
      color: rgb(255,255,255);
      box-shadow: 0 0 10px rgb(0,0,0);
      text-shadow: 0 0 10px rgb(0,0,0);
      padding: 0 50px;
   }
   
  .screenSlider{
    height:45vh;
    border-radius:none;
    box-shadow: none;
    margin-top: 7vw;
  }
  .screenSlider img{
    border-radius:none;
  }
  .dotDivContainer{
    display: none;
  }
  .ServiceDivLogo{
    display: none;
  }
 
  .servicess{
    height: fit-content;
  }

  .servicesFeaturee{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2 , 2fr);
    height: fit-content;
  }

  .serviceFeatureCardd{
    height:70vw;
    width:48vw;
    margin:2vw 1vw;
  }

  
  .serviceFeatureCardd:hover{
    scale:none;
    transform:none;
  }
  

  .srvsFddetailss{
    padding-top:1vw;
    padding:0.2vw;
  }
  
  .srvsFddetailss h1{
    margin-top: 5vw;
    font-size:5vw;
    color:rgb(11, 125, 224);
  }
  
  .srvsFddetailss a{
    width: 100%;
  }
  .srvsFddetailss button{
    font-size:4vw;
    width: 100%;
    height: fit-content;
    color:rgb(11, 125, 224);
  }
  
  .homepageSection2{
    height:fit-content;
    flex-direction: column;
    justify-content:center;
    align-items:center;	
    padding: 3vw;
  }
  
  .openAccountOuterDiv{
    height:25vw;
    width:100%;
    margin:3vw;
    padding:2vw;
    padding-right:2;
  }

  .openAccountOuterDiv h1{
    font-size:6vw;
  }
  
  .balAndStatement{
    display:grid;
    grid-template-columns: repeat(2 , 1fr);
    width:100%;
    height:fit-content;
    gap: 5px;
  }
  
  .balanceCard , .statementCard{
    height:48vw;
    width:100%;
  }
  
  
  .balanceCard img , .statementCard img{
    width:100%;
  }
  
  .balanceCard h3 , .statementCard h3{
    font-size:5vw;
  }
  

  
  .bookingsAndInsurenceOuter{
    flex-direction: column;
    height:fit-content;
    padding: 2vw;
    gap: 15px;
  }
  
  .bookingsAndInsurenceInner{
    flex-direction: column;
    width:100%;
    height:fit-content;
    gap: 15px;
  }
  
  .bookingdiv, .insurenceDiv{
    width: 100%;
    padding: 2vw;
    border: none;
  }


  .bookingdiv h1{
     font-size:8vw;
     margin: 2vw 0;
  }

  
  .ticketBookingContentDiv{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    height:fit-content; 
    width:100%; 
    margin-top:0.5vw;
    gap: 15px;
  }

  .loansArenaDiv h1{
    font-size: 9vw;
  }
  
  .loansArenaDiv h1:hover{
    transform: scale(1);

  }
  
  .ticketBookingFirstRow, .ticketBookingSecondRow{
      flex-direction: column;
      height:fit-content;
      width:100%;
      gap: 15px;
  }
  
  .ticketBookingFirstRow a, .ticketBookingSecondRow a{
    width: 100%;
  }

  

  .loanCard{
    height:45vw;
    width:100%;
    padding: 2vw;
  }
  
  .loanCard:hover{
    transform:scale(1);
  }

  .loanCard h6{
    font-size:5vw;
    text-align: center;
  
  }
  .loancardImgDiv{
    width:30vw;
    height:30vw;
  }
  

  .premiumServicesOuter , .money_transfer_div{
    height:fit-content;
    padding:0 2vw;
  }

  .money_transfer_div{
    height: fit-content;
  }

  .money_transfer_div a{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
  }

  
  
  .premiumServicesInner, .money_transfer_div_inner{
    width: 100%;
  }
  
  .premiumServicesInnermost{
    height:100%;
    width:100%;
   
  }
  
  .money_transfer_div_innermost{
    font-size: 10vw;
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 30vw;
    color: rgb(23,141,241);
   
  }
  
  .premiumServicesInnermost{
    flex-direction: column;
    height: fit-content;
    border: none;
    
    }

.viewYourdashboard{
	width:100%;
  border:1px solid rgb(23,144,241);
  margin: 0;
  padding: 2vw;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(23,141,241), -1px -1px 5px rgb(23,141,241);
  margin-top: 2vw;
}

.viewYourDashHeading{
	height:fit-content;
	font-size:6vw;

}

.premiumServicesInner{
  border: none;
  box-shadow: none;
}

.preiumCardsDiv{
	display:grid;
  grid-template-columns: repeat(2,1fr);
	width:100%;
  gap: 10px;
  margin-top: 5vw;
  padding: 0;
}

.preiumCardsDiv a{
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;justify-content: center;
}

.premiumCard{
	border:1px solid rgb(23,141,241);
	height:45vw;
	width:100%;
}

.premiumCard:hover{
	transform:scale(1);
}


.premiumCardMain h5{
	font-size:5vw;
  text-align: center
}


.locationDiv{
  display: none
}



.mainfooter{
  flex-direction: column;
	justify-content:center;
  align-items: center;
	width:100%;
  padding-bottom: 5vw;
}

.leftpart,.rightPart{
  display: flex;
	width:100%;
  flex-direction: column;
	justify-content:center;
  align-items: center;
  padding: 2vw;
}
.leftpart h1, .rightPart h1{
	font-size:7vw;
  margin-top: 5vw;
}
.leftpart ul, .rightPart ul{
  text-align: center;
	line-height:8vw;
  font-weight: 500;
}

.leftpart ul li a , .rightPart ul li a{
  font-size: 4vw;
}

.socialLinksDiv{
	height:fit-content;
	width:100%;
}

.subNewsLetterDiv{
  display: flex;
	width:100%;
	height:fit-content;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.subNewsLetterDiv h1{
  color: orange;
  font-size: 5vw;
}

.subNewsLetterDiv input{
	width:70%;
	height:fit-content;
}

.socialIconsDiv h1{
	font-size:5vw;
	color:orange;
}

.allsocialIconsContainer{
	width:100%;
	height:fit-content;
	display:flex;
	justify-content:center;	
	gap:1.5vw;
}
.mainSocialIconBurgerFooter{
	width:10vw;
	height:10vw;
	
}

.subNewsLetterDiv form button{
  width: 70%;
  font-size: 5vw;
}


.profileSignDiv{
	top:25vw;
	width:70vw;
	background-color:rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  padding: 4vw 0;
}
.profileSignDiv i{
	font-size: 6vw;
	width: 100%;
	padding-left: 15px;
}


.profileImgSignInDiv{
	height:30vw;
	width:30vw;
  padding: 5vw;
}

.details{
	padding-bottom:5vw;
  height: fit-content;
}

.details h4{
	font-size:5vw;
  margin: 5vw 0;
}
.profileSignDiv button{
  gap: 20px;
  margin-top: 3vw;
  height: 10vw;
  font-size: 4vw;
  box-shadow: 0 0 10px rgb(0,0,0);
  border: none;
}

.details button{
	background:green;
	font-size:4vw;
  height:10vw;
}

.lgpageImgDiv{
	display:none;
}
.lgImgDivRight{
	height:100%;
	width:100%;
  margin-top: 5vw;
}

.OuterCardDiv{
	width:100%;
	height:fit-content;
  gap: 3px;
  padding: 5vw;
}

.OuterCardDiv h1{
	font-size:6.5vw;
	color:rgb(23,144,241);
}

.loginWithThirdPartyDiv{
	width:100%;
	height:fit-content;
}

.logInTextDiv, .loginIconDiv{
	width:100%;
	height:8vw;
}

.logInTextDiv a{
	font-size:5vw;
  white-space: nowrap;
  font-weight: 500;
}


.loginIconDiv{
	width:20%;
}

.loginIconDiv i{
	font-size:4vw;
  color: rgb(23,141,241);
}

.IdPassLoginDiv{
	gap:1vw;	
}

.IdPassLoginDiv h2{
   font-size:4vw;
   color:rgb(23,141,241);
}
.passwordInput{
  height:6vw;
}

.passwordInput input{
	width:100%;
  height: 100%;
}


.eyeIconDiv{
	width:10vw;
	height:100%;
}

.eyeIconDiv i{
	font-size:4vw;
}


.Consent_ForgotPasswordDiv label{
	font-size:2.5vw;
}


.captureDiv{
	height:8vw;
	width:60%;
	letter-spacing:0.5vw;
	padding:0;
}
.captureCodeDiv input{
	float:right;
	margin-left:2vw;
}
.captureCover{
	width:100%;
	height:100%;
  padding: 1vw;
}

.refreshDiv{
	height:6vw;
}




.bank_mitra_guideline_container{
  margin-top: 18vw;
}

.bank_mitra_guideline_container h1{
  font-size: 5vw;
  position: sticky;
  top: 20vw;
}

.bank_mitra_guideline_container h2{
  margin-top: 1vw;
  font-size: 5vw;
}

.bank_mitra_guideline_container p{
  margin-top: 0;
}

.checkbox_div{
  margin-top: 2vw;
  font-size: 5vw;
  font-weight: 500;
}


.guide_proceed_btn{
  background:rgb(253, 153, 3);
  margin-top: 1.5vw;
  width: 100%;
  font-size:2.5rem;

}


.innerdiv{
  height: 0vw;
  width: 0vw;
  background: rgb(23,141,241);
  position: absolute;
  top: -2vw;
  right: -2vw;
  transition: 1s all;
  border-radius: 50%;
}


.guide_proceed_btn:hover .innerdiv {
   width: 20vw;
   height: 8vw;
   z-index: 2;
}


.guide_proceed_btn p{
  position: relative;
  z-index: 5;
}

.guide_proceed_btn ion-icon{
  z-index: 5;
  --ionicon-stroke-width: 5vw;
  font-size:15vw;
}



/*  bank mitra registration mediaQuery ..................... */

.form_div{
  padding: 2vw;
}


.bank_mitra_register_container h1{
  font-size: 4rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(23,141,241) , -1px -1px 1px rgb(23,141,241);
}


.fileUploaderBoxOuter{
  width:100%;
}

.fileUploaderBoxInner{
  padding:2vw;
}


.headingDiv h2{
  font-size: 7vw;
  color: rgb(253, 153, 3);
}

.formFiled button{
  font-size: 4vw;
}

.formFiled p{
  margin-top: 3vw;
  font-size: 3vw;
}

.accountAlert{
	width: 62vw;
}

.newAcMnCtnr{
  width: 100%;
	margin-top:20vw;
  padding: 0.5vw;

}
.openAccRowInner{
padding: 5vw 0;

}


.openYourAc h1{
	font-size:6.5vw;
   margin: 1.5vw 0;
}

.OpenAccountDiv{
	margin-top:4vw;
}

/*    forgot password setup ......................... */


.forgetPasswordOuter{
	width:100%;
	height:fit-content;
	padding:2vw;
}


.forgetPasswordOuter .alert{
	height: 10vw;
}


.forgetPasswodDetails , .resetpassDiv{
	padding:2vw;
  gap:8vw;

}
.forgetPasswodDetails .otpInputDiv{
  width: 100%;
}
.forgetPasswordOuter button{
	height: 8vw;
  font-size: 4vw;
}

.forgetPasswodDetails form, .otpInputDiv form{
  width: 100%;
}

.resetpassDiv input{
	margin-top: 2vw;
}

.form1{
	width:100%;
	height: fit-content;
}

.forgetPasswodDetails h1, .resetpassDiv h1{
	font-size:7vw;
}

.forgetPasswodDetails input{
  height:10vw;
}

.verifyotpdiv{
	gap:2vw;
  flex-direction: column;
  width: 100%;
}

.verifyotpdiv button{
  width: 100%;
}

.lgImgDivRight{
  justify-content: start;
  padding-top: 15vw
}

.resetpassDiv form button{
	margin-top: 4vw;
}

}



/* max width 400px ............................................................................................... */


@media(max-width:400px){

  .TaglineDIV{
     top: 30%;
  } 

  .col1right{
    display: none;
  }

  .navList{
     top: 55px;
  }

  .userImg{
    margin-left: 25px;
  }
  

  .logoutListItem {
      margin-left: 15px;
      margin-top: 20px;
      font-size: 8vw;
   }

  .screenSlider{
    margin-top: 8vw;
  }

/*  bank mitra registration mediaQuery ..................... */
.bank_mitra_register_container h1{
  font-size: 2.5rem;
}

.formFiled p{
  margin-top: 3vw;
  font-size: 4vw;
}

.forgetPasswordOuter button{
	height: 10vw;
  font-size: 4vw;
}


.lgImgDivRight{
  justify-content: start;
  padding-top: 15vw
}


};
