<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
       th:replace="customerService/CustomerDashborad::Layout(~{::section})">
<head>
	<meta charset="UTF-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title th:text="${title}"></title>
</head>
<body>
     <section>
         <div class="container-fluid border border-primary  maincontainerr">
               
            <h1>LINK YOUR AADHAR WITH YOUR ACCOUNT</h1>
             <div class="linkadharmain">
                
                <div  th:if="${session.Aadharmessage}"  class="alert" th:classappend="${session.Aadharmessage.type}" role="alert" >
                    [[${session.Aadharmessage.message}]]
                </div>
            <form action="#" th:action="@{/customer/customerDashboard/LinkAdhar_process}"  method="post">
                <input type="text" placeholder="Enter you aadhar no : 1234 1234 1234" class="form-control" name="cAadhar">
                <input type="text" placeholder="Enter you userid : SLB12345" class="form-control" name="userId">
 
                <button class="btn btn-primary btn-block" type="submit">LINK AADHAR</button>
            </form>

            <div class="checkadharstausinlink" th:if="${session.Aadharmessage}" >
                <a href="#" th:href="@{/customer/customerDashboard/adharstatus}">
                <button class="btn btn-primary btn-block" style="width: 44vw;" type="submit">CHECK AADHAR STATUS</button></a>
            </div>
           </div>
         </div>
    </section>	
</body>
</html>